%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

.svg-form-validate {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-form-validate-dims {
	width: 23px;
	height: 23px;
}

.svg-menu-close {
	@extend %svg-common;
	background-position: 46% 53.48837209302326%;
}

.svg-menu-close-dims {
	width: 30px;
	height: 30px;
}

.svg-menu-open {
	@extend %svg-common;
	background-position: 100% 100%;
}

.svg-menu-open-dims {
	width: 27px;
	height: 20px;
}

