/*----------------------------*/
/*---------Variables ---------*/
/*----------------------------*/
//Fonts


$screen-xxs-min:320px;

$color-green: #60C4DF; 

$color-light-grey: #DBDBDB; 
$color-black: #000000; 
$color-green: #6f8686; 

$color-dark-text: #393939;
$color-light-text: #DBDBDB;

$color-background-body: #ffffff;
$color-text-screen: #747474;
$color-text-main: #747474;
$color-headings: $color-dark-text;
$color-text-input: $color-dark-text;
$color-footer-text: #747474;

$color-input-border:#979797;

$font-main: 'Open Sans', sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-pre: 1.6;



