%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

.svg-bullet-arrow {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-bullet-arrow-dims {
	width: 25px;
	height: 14px;
}

.svg-down-arrow-grey {
	@extend %svg-common;
	background-position: 21.008403361344538% 12.844036697247706%;
}

.svg-down-arrow-grey-dims {
	width: 22px;
	height: 13px;
}

.svg-form-validate {
	@extend %svg-common;
	background-position: 39.83050847457627% 27.272727272727273%;
}

.svg-form-validate-dims {
	width: 23px;
	height: 23px;
}

.svg-menu-close {
	@extend %svg-common;
	background-position: 63.06306306306306% 54.34782608695652%;
}

.svg-menu-close-dims {
	width: 30px;
	height: 30px;
}

.svg-menu-open {
	@extend %svg-common;
	background-position: 87.71929824561404% 78.43137254901961%;
}

.svg-menu-open-dims {
	width: 27px;
	height: 20px;
}

.svg-right-arrow-grey {
	@extend %svg-common;
	background-position: 100% 100%;
}

.svg-right-arrow-grey-dims {
	width: 14px;
	height: 22px;
}

