/*----------------------------*/
/*---------Variables ---------*/
/*----------------------------*/
//Fonts


$screen-xxs-min:320px;

$color-green: #60C4DF; 

$color-light-grey: #EFEFEF; 
$color-black: #000000; 
$color-red: #B61A37;
$color-green: #6f8686; 
$color-green-tint: #87B4B4;
$color-dark-text: #393939;
$color-light-text: #DBDBDB;

$color-background-body: #ffffff;
$color-text-screen: #000000;
$color-text-main: #000000;
$color-headings: $color-dark-text;
$color-text-input: $color-dark-text;
$color-footer-text: #747474;

$color-input-border:#979797;

$color-input-placeholder: #B4B4B4;

$font-san-serif: 'Open Sans', sans-serif;
$font-main: Georgia, Times, "Times New Roman", serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-pre: 1.6;

$speed_default: 0.2s;

